body{
    background:rgb(31, 45, 80);
    color: white; 
    margin:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image:
        linear-gradient(45deg, #192446 25%, transparent 25%),
        linear-gradient(-45deg, #192446 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #192446 75%),
        linear-gradient(-45deg, transparent 75%, #192446 75%);

    background-size: 30px 30px;
    background-position:
        10 10,
        10 20px,
        20px -20px,
        -20px 10px;
}
.result{
    width:260px;
    min-height:100px;
    padding:15px;
    border-radius:15px;
    background:#7672724c;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 8px 25px rgba(80, 78, 78, 0.3);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin:20px auto;
    transition: transfom 0.3s ease;
}
.shake {
    animation: shake 0.3s ease;
}

@keyframes shake {
    0%,100% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    75% { transform: translateX(6px); }
}

.container{
    text-align:center;
}
.correct{
    animation: correct 0.5s ease;
}

@keyframes correct{
    0%{transform: scale(1);}
    20%{transform: scale(1.2);}
    40%{transform: scale(1.1);}
    60%{transform: scale(1.05);}
    80%{transform: scale(0.95);}
    100%{transform: scale(1);}
}
input{
    width:120px;
    height:40px;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    color:black;
    background-color: #98a9dd9f;
    font-size:medium;
    text-align: center;
}

input::placeholder {
    color: rgb(18, 17, 17);
}

button{
    background: #00c853;
    color: white;
    font-size: 18px;
    font-weight: bold;

    padding: 12px 10px;
    border: none;
    border-radius: 25px;

    cursor: pointer;

    box-shadow: 
        0 6px 0 #009624,       
        0 8px 15px rgba(0,0,0,0.4);  
}
button:hover {
    transform: scale(1.05);
}
.try_again{
    font-size: 35px;
    background: none;
    box-shadow: None;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease; 
    box-shadow: None; 
}
.try_again:hover{
    transform: rotate(30deg);
}

.attempts{
    color:rgb(209, 22, 22);
    font-size: 20px;
}
